* {
    margin: 0;
}

.hamberger {
    display: none;
}

.logo {
    color: rgb(207, 142, 13);
}

.Mobile-Rakhi-Image,
.Mobile-Glowing-Lamps {
    display: none;
}

@media (max-width : 480px) {

    .Mobile-Rakhi-Image,
    .Mobile-Glowing-Lamps {
        display: block;
    }

    .Desktop-Rakhi-Image,
    .Desktop-Glowing-Lamps {
        display: none;
    }
}