* {
    margin: 0;
}

.announcement-bar p {
    background-color: rgb(193, 74, 147);
    color: #fff;
    text-align: center;
    padding: .5em;
}

.hamberger {
    display: none;
}

.logo:hover {
    cursor: pointer;
}

nav div:nth-of-type(3):hover {
    cursor: pointer;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em 2em;
}

nav div {
    margin: auto 1em;
}

nav ul li {
    display: inline-block;
    margin: auto .5em;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul li svg {
    width: 12px;
    color: rgb(0, 0, 0);
}

.search,
.cart {
    margin: auto .5em;
}

.search:hover,
.cart:hover {
    cursor: pointer;
}

.main img,
.Glowing-Lamps img,
.Rakhi-Image img {
    width: 100%;
}

.main img:hover,
.Glowing-Lamps img:hover,
.Rakhi-Image img:hover {
    cursor: pointer;
}

.Featured,
.Incense,
.Limited-Edition,
.Healing-Crystals,
.Himalayan-Salt-Lamps,
.Evil-Eye,
.God-Idols,
.Pooja-Room,
.Follow,
.Paragraph {
    margin: 3em;
}

.featuredUL {
    display: flex;
    list-style: none;
}

.featuredUL:hover {
    cursor: pointer;
}

.featuredUL li {
    margin: auto .5em;
    text-align: center;
}

.featuredUL li img {
    border-radius: 50%;
}

.Incense,
.Limited-Edition,
.Healing-Crystals,
.Himalayan-Salt-Lamps,
.Evil-Eye,
.God-Idols,
.Pooja-Room {
    display: flex;
    flex-direction: column;
}

.Incense .row-1,
.Limited-Edition .row-1,
.Healing-Crystals .row-1,
.Himalayan-Salt-Lamps .row-1,
.Evil-Eye .row-1,
.God-Idols .row-1,
.Pooja-Room .row-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: .5em;
}

.Incense .row-1 button,
.Limited-Edition .row-1 button,
.Healing-Crystals .row-1 button,
.Himalayan-Salt-Lamps .row-1 button,
.Evil-Eye .row-1 button,
.God-Idols .row-1 button,
.Pooja-Room .row-1 button {
    padding: .5em 1em;
    color: #fff;
    background-color: red;
    border: none;
}

.Incense .row-1 button:hover,
.Limited-Edition .row-1 button:hover,
.Healing-Crystals .row-1 button:hover,
.Himalayan-Salt-Lamps .row-1 button:hover,
.Evil-Eye .row-1 button:hover,
.God-Idols .row-1 button:hover,
.Pooja-Room .row-1 button:hover {
    cursor: pointer;
    box-shadow: 0 0 1px 1px red;
    transition: .2s ease-in;
}

.Incense .row-2 div img,
.Limited-Edition .row-2 div img,
.Healing-Crystals .row-2 div img,
.Himalayan-Salt-Lamps .row-2 div img,
.Evil-Eye .row-2 div img,
.God-Idols .row-2 div img,
.Pooja-Room .row-2 div img {
    width: 230px;
    height: auto;
    margin-bottom: .5em;
}

.Incense .row-2 div p,
.Limited-Edition .row-2 div p,
.Healing-Crystals .row-2 div p,
.Himalayan-Salt-Lamps .row-2 div p,
.Evil-Eye .row-2 div p,
.God-Idols .row-2 div p,
.Pooja-Room .row-2 div p {
    margin-bottom: .5em;

}

.Incense .row-2 div button,
.Limited-Edition .row-2 div button,
.Healing-Crystals .row-2 div button,
.Himalayan-Salt-Lamps .row-2 div button,
.Evil-Eye .row-2 div button,
.God-Idols .row-2 div button,
.Pooja-Room .row-2 div button {
    margin-bottom: .5em;
    padding: .2em 5em;
    color: #fff;
    background-color: red;
    border: none;
}

.Incense .row-2 div button:hover,
.Limited-Edition .row-2 div button:hover,
.Healing-Crystals .row-2 div button:hover,
.Himalayan-Salt-Lamps .row-2 div button:hover,
.Evil-Eye .row-2 div button:hover,
.God-Idols .row-2 div button:hover,
.Pooja-Room .row-2 div button:hover {
    cursor: pointer;
    box-shadow: 0 0 1px 1px red;
    transition: .2s ease-in;
}

.Incense .row-2,
.Limited-Edition .row-2,
.Healing-Crystals .row-2,
.Himalayan-Salt-Lamps .row-2,
.Evil-Eye .row-2,
.God-Idols .row-2,
.Pooja-Room .row-2 {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Incense .row-2 div:hover,
.Limited-Edition .row-2 div:hover,
.Healing-Crystals .row-2 div:hover,
.Himalayan-Salt-Lamps .row-2 div:hover,
.Evil-Eye .row-2 div:hover,
.God-Idols .row-2 div:hover,
.Pooja-Room .row-2 div:hover {
    cursor: pointer;
}

.italic {
    font-style: italic;
}

.Follow {
    text-align: center;
    font-size: .7em;
}

.Follow .row-2 {
    display: flex;
    flex-direction: row;
}

.Follow .row-2 div img {
    width: 240px;
}

.Follow .row-2 div img:hover {
    cursor: pointer;
}

.Mobile-Rakhi-Image,
.Mobile-Glowing-Lamps {
    display: none;
}

.Paragraph {
    text-align: center;
}

.Paragraph .para {
    text-align: left;
    margin-top: 1em;
}

.Paragraph .READ-MORE {
    color: rgb(245, 142, 205);
    margin-top: 1.5em;
}

.Paragraph .READ-MORE:hover {
    cursor: pointer;
}

.Icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 2em;
    border-top: 1px solid rgb(188, 184, 184);
    padding-top: 1em;
}

.Icons div:nth-of-type(1),
.Icons div:nth-of-type(2) {
    border-right: 1px solid rgb(134, 125, 125);
    padding-right: 15em;
}

footer {
    background-color: rgb(250, 168, 183);
    padding: 2em 4em;
    color: #fff;
}

footer .row-1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10em;
}

footer .row-1 .col-1 div {
    margin-bottom: 2em;
}

footer .row-1 .col-1 img:hover,
footer .row-1 .col-1 button:hover,
footer .row-2 .col-1 span:hover {
    cursor: pointer;
}

footer .row-1 .col-1 div img {
    margin-left: 5em;
}

footer .row-1 .col-1 div button {
    margin-right: 4em;
    margin-left: 2em;
    padding: .5em 2em;
    background-color: rgb(250, 168, 183);
    color: #fff;
    border: 2px solid white;
    border-radius: 5px;
}

.Desktop-UL li {
    list-style: none;
    text-align: left;
    margin: 1em auto;
    margin-left: -2.5em;
}

.Desktop-UL li a {
    text-decoration: none;
    color: #fff;
}

.Desktop-UL li a:hover {
    text-decoration: underline;
}

.footer-heading {
    font-size: 1.3em;
}

.row-1 .col-4 p {
    margin: 1.5em auto;
    line-height: 2em;
}

.row-1 .col-4 p:hover {
    cursor: pointer;
}

footer .row-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .row-2 .col-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer .row-2 .col-1 span,
footer .row-2 .col-2 span {
    margin: auto 1em;
}

@media (max-width : 700px) {
    * {
        width: 100%;
    }

    nav {
        width: 100%;
    }

    .hamberger {
        display: block;
        margin-left: -3em;
    }

    nav div:nth-of-type(3) {
        display: none;
    }

    nav div:nth-of-type(4) {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    /* .featuredUL {
        max-width: 100%;
    } */

    .Mobile-Rakhi-Image,
    .Mobile-Glowing-Lamps {
        display: block;
    }

    .Desktop-Rakhi-Image,
    .Desktop-Glowing-Lamps {
        display: none;
    }

    .Desktop-UL {
        display: none;
    }

    footer,
    footer .row-1,
    footer .row-2 {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    footer .row-1 .col-1 div img {
        width: 200px;
        margin: auto;
    }

    footer .row-1 .col-1 div:nth-of-type(2) {
        display: flex;
        flex-direction: row;
        margin: 3em auto;
    }

    footer .row-1 .col-2,
    footer .row-1 .col-3,
    footer .row-1 .col-4 {
        margin-bottom: 1em;
        border-top: 1px solid #fff;
        padding-top: 1em;
    }

    footer .row-1 .col-4 {
        border-bottom: 1px solid #fff;
        padding-bottom: 1em;
    }

    footer .row-1 .col-4 div:nth-of-type(2),
    footer .row-1 .col-4 div:nth-of-type(3) {
        display: none;
    }

    footer .row-2 div {
        margin: 1em auto;
    }

    footer .row-2 .col-2 {
        display: flex;
        flex-direction: row;
        border-top: 1px solid #fff;
        padding-top: 1em;
    }

    footer .row-2 .col-1 div span img {
        width: 120px;
    }

    footer .row-2 .col-1 {
        display: flex;
        flex-direction: column-reverse;
    }

    footer .row-1 {
        margin-bottom: 0;
    }
}